/venv
/dataset/images
/dataset/metadata
/dataset/dataset_construction/*.csv
/dataset/country_distributions/*.csv
.DS_Store
/model/**/outputs
/**/__pycache__
/evaluation/plots
/evaluation/results
/evaluation/*.ipynb
/v2/assets/sampled_*