/venv
/dataset/images
/dataset/metadata
/dataset/dataset_construction/*.csv
/dataset/country_distributions/*.csv
.DS_Store
/model/**/outputs
/**/__pycache__
/evaluation/plots
/evaluation/results
/evaluation/*.ipynb
/v2/assets/sampled_*
/v2/assets/images/
/v2/assets/*h3*.csv
/v2/assets/*.json
/v2/evaluation/demo_samples
/v2/evaluation/results
/v2/training/outputs
